#wrapper{
    margin:20px;
}
.forms > form {
    border: 2px solid #0095dd;
    margin: 50px auto;
    padding: 10px;
}
.submitSuccess.form-control[readonly]{
    background-color: #d9edf7;
    text-decoration: line-through;
}
.projectselector.form-control {
    display: inline;
    width: auto;
}
.form-control.type > option:first-child{
    color: #999;
}
.form-control.type > option{
    color: black;
}
.buttonsWrapper {
    margin: 5px 0;
    padding: 5px 0;
}
.forms > form td {
    padding: 0 5px 3px 0;
}
.deleteTimeRow {
    margin: 0 -5px 0 0;
}
#ticketSearch {
    margin: 20px;
}
#ticketSearch #searchResponse li.partialSet{
    font-weight: bold;
    list-style-type: none;
}
