<?php
// <p>---------------------------------------------------------</p>
// <p>          Error: Please allow phtml files to run php     </p>
// <p>---------------------------------------------------------</p>

$GLOBALS['newline'] = '<br>'; // keep at the top needed by getCustomSettings
require_once __DIR__ . '/code/getCustomSettings.php';

// redirect to index.html if cookie not set and not using password verification
require_once __DIR__ . '/code/authenticationAndSecurity.php';
$authenticationAndSecurity = new authenticationAndSecurity;
$authenticationAndSecurity->redirectIfNotLoggedIn();

require_once __DIR__ . '/code/getDataFromYoutrack.php';
require_once __DIR__ . '/code/createByForm.php';

?>            

<!DOCTYPE html>
<html>
    <head>
        <script src='js/jquery-1.10.2.min.js'></script>
        <script src="js/1.12.0jquery-ui.js"></script>
        <script src='js/createByForm.js'></script>
        <script src='js/createByFormTicketLinks.js'></script>
        <link rel="stylesheet" href="css/jquery/1.12.0jquery-ui.css">
        <link rel="stylesheet" href="css/createByForm.css">
        <script type="text/javascript" src="js/bootstrap/bootstrap-3.3.7-dist/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap/bootstrap-3.3.7-dist/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap-3.3.7-dist/bootstrap-theme.min.css">
    </head>

    <body>
        <header>
            <?php require_once(__DIR__ . '/header.phtml'); ?>
        </header>
        <div id="loadingScreen"></div>
        <h1>Youtrack Create Tickets By Form</h1>
        
        <div id='HideFields'>
            <h3>Hide fields</h3>
            <div id="HideFieldsCheckBoxContainer">
                <label><input type="checkbox" name="links" value="links">Links</label>
                <label><input type="checkbox" name="attachments" value="attachments">Attachments</label>
                <?php foreach( $customFieldList as $customField ): ?>
                        <label><input type="checkbox" name="<?php echo $customField ?>" value="<?php echo $customField ?>"><?php echo $customField ?></label>
                <?php endforeach; ?>
            </div>
        </div>
        <form id='toBeImported' action="code/createByFormSubmit.php" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th></th>
                    <th>project</th>
                    <th>Assignee</th>
                    <th>summary</th>
                    <th>description</th>
                    <th class="linkscolumn"></th>
                    <th class="attachmentscolumn"></th>
                    <?php foreach( $customFieldList as $customField ): ?>
                            <th class="<?php echo str_replace(' ','', $customField) ?>column"><?php echo $customField; ?></th>
                    <?php endforeach; ?>
                </tr>
                <tr class="hidden" >
                    <?php $row = 0; ?>
                    <?php require __DIR__ . '/createByFormRow.phtml'; ?>
                </tr>
                <tr row="1" >
                    <?php $row = 1; ?>
                    <?php require __DIR__ . '/createByFormRow.phtml'; ?>
                </tr>
            </table>
            <button type="button" id="addRowToTable">add line to table</button>
            <?php if($authenticationType === 'password'): ?>
                <div>login user: <input type="text" name="user"></div><br>
                <div>login password: <input type="password" name="password"></div><br>
            <?php endif; ?>
                <!-- test mode cant work for standard users -->
<!--            <div>test mode: <input type="checkbox" name="test" value="true"></div><br>-->
<!--            <input type="submit" value="Submit"> -->
            <button type="button" id="ajaxSubmit">ajax submit</button>
        </form>
    </body>
</html>

