<?php
// <p>---------------------------------------------------------</p>
// <p>          Error: Please allow phtml files to run php     </p>
// <p>---------------------------------------------------------</p>

// redirect to index.html if cookie not set and not using password verification
require_once __DIR__ . '/code/authenticationAndSecurity.php';
$authenticationAndSecurity = new authenticationAndSecurity;
$authenticationAndSecurity->redirectIfNotLoggedIn();

require_once __DIR__ . '/code/getCustomSettings.php';
?>
<!DOCTYPE html>
<html>
<head>
    <script src='js/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-3.3.7-dist/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-3.3.7-dist/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-3.3.7-dist/bootstrap-theme.min.css">
</head>
<body>
    <header>
        <?php require_once(__DIR__ . '/header.phtml'); ?>
    </header>
    <form action="code/csvUploaderSubmit.php" method="post" enctype="multipart/form-data">
        <h1 style="text-align:center">Youtrack CSV import</h1>
           <p>
                Only spreadsheets saved as a csv with a delimiter of a comma will work in the uploader. Please use the example csv's as a reference.
            </p>
            <p>For open office see below image</p>
             <img src="openoffice.png"><br>
            <div>
                <a href="../csvtemplates/basic.csv">Basic example csv</a><br>
                <a href="../csvtemplates/extended.csv">Extended example csv</a><br>
            </div><br>
            <?php if($authenticationType === 'password'): ?>
                <div>login user: <input type="text" name="user"></div><br>
                <div>login password: <input type="password" name="password"></div><br>
            <?php endif; ?>
            <div>Select a csv to upload: <input type="file" name="fileToUpload" id="fileToUpload"></div><br>
            <div>test mode: <input type="checkbox" name="test" value="true"></div><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
